<html lang="en">
<head>
  <% include ../partials/head %>
</head>

<body class = "container">
<header>
    <% include ../partials/header %>
  </header>

  <main>
    <div class="jumbotron">
      <h1>Welcome</h1>
      <p>I'm Christina!</p>
    </div>
    <div class="content">
      <center><img src="https://scontent-lga3-1.xx.fbcdn.net/v/t1.0-9/13082685_10153739121022779_5237516756273346806_n.jpg?oh=2752f550c1ddf67734817e910ac19e04&oe=57B4D913" /><center>
      <p>My name is Christina I'm learning how to code at the Women in CS Hubspot event. I am a Babson student majoring in business while taking engineering design classes at the Franklin W. Olin College of Engineering.</p>
      <p>  Tis sweet sweet site is a ~*~*very~*~*~ basic template that you might use if you were in the market to build out your own personal website. Tabs, styling, the works. Google + bootstrap are your new best friends.</p>
    </div>
  </main>



</body>
</html>