<html lang="en">
<head>
    <% include ../partials/head %>
</head>
<body class="container">

  <header>
    <% include ../partials/header %>
  </header>

  <main>
    <div class="jumbotron">
      <h1>Let's connect</h1>
      <a href="https://twitter.com/christinagee12" target="_blank"><i class="fa fa-twitter fa-2x"></i></a>
      <a href="https://www.instagram.com/yungdumpling/" target="_blank"><i class="fa fa-instagram fa-2x"></i></a>
      <a href="https://github.com/christinagee" target="_blank"><i class="fa fa-github fa-2x"></i></a>
      <a href="https://www.facebook.com/cgee123" target="_blank"><i class="fa fa-facebook fa-2x"></i></a>
      <a href="https://www.linkedin.com/in/geechristina" target="_blank"><i class="fa fa-linkedin fa-2x"></i></a>


    </div>
  </main>

</body>
</html>