<html lang="en">
<head>
    <% include ../partials/head %>
</head>
<body class="container">

  <header>
   <% include ../partials/header %>
  </header>

  <main>
    <div class="jumbotron">
      <h1>Dogs that Make You Happy</h1>
      <p>Feeling sad? Check out some of these puppies (These are from Google)</p>
    </div>
    <div class="image-container">
      <a  href="https://www.thrillist.com/entertainment/los-angeles/the-most-beautiful-places-in-california-road-trip-ideas">
        <img height =300 with=400 src="https://upload.wikimedia.org/wikipedia/commons/b/b6/Two_red_and_white_haired_shih_tzu_littermates.jpg">
        </a>
      <a  href="http://www.huffingtonpost.com/conde-nast-traveler/most-beautiful-places-in-the-world_b_8701914.html">
        <img height=300 with=400 src="https://i.ytimg.com/vi/7nxtmF181dg/maxresdefault.jpg">
      </a>
      <a href="http://welldonestuff.com/beautiful-places/">
        <img id="pug" src="http://25.media.tumblr.com/tumblr_m21tsantXp1qzkjnso1_r1_500.jpg">
      </a>
      <a href="http://inandaroundthemilitary.blogspot.com/2013/10/beautiful-and-lovely-places-1.html">
        <img id="pug on bench" src="http://www.p2meet.com/wp-content/uploads/2016/02/cute-pug-megalawlz-com-baby-pug-dogs-cute.png">
      </a>
      <a href="http://inyminy.com/37-most-beautiful-places-in-the-world-youve-got-to-see-before-you-die/">
        <img id="pic5" src="/images/pics/pic5.jpg">
      </a>
      <a href="https://www.thrillist.com/entertainment/los-angeles/the-most-beautiful-places-in-california-road-trip-ideas">
        <img id="pic6" src="/images/pics/pic6.jpg">
      </a>
    </div>
  </main>

</body>
</html>