<html lang="en">
<head>
    <% include ../partials/head %>
</head>
<body class="container">

  <header>
    <% include ../partials/header %>
  </header>

  <main>
    <div class="jumbotron">
      <h1>Engineering, Design & Business</h1>
      <p>This are projects I worked on</p>
    </div>
    <div class="container">
      <div class="code-container">
        <img src="http://static1.squarespace.com/static/55cfe769e4b0370fe0409cf0/t/56a51932fb36b19ca46be7a5/1453660470269/?format=1000w"/>
        <div>
          <h3>4th Grade Toy: Thresher Shark</h3>
          <p>As part of my class for Design Nature, I worked in a team of five to design a toy for 4th graders. We created a thresher shark game where the objective of the game is to knock as many fish of the same color down using the shark tail. This design was inspired by the thresher shark, who uses its tail to stun fish.</p>
      </div>
    </div>
    <div class="code-container">
      <img src="http://static1.squarespace.com/static/55cfe769e4b0370fe0409cf0/t/572d2b614d088ea3a8ed9f25/1462635315553/?format=1000w"/>
      <div>
        <h3>Food Cents - Non Profit</h3>
        <p>In my Human Center design course I worked in a team of 5 to study food truck workers throughout the semester. Each week we would go out and interview food truck workers to formulate key principles, insights and personas. Based on these principles, we realized that we could use the mobility of the food truck to help serve food deserts (areas with low acess to healthy food). In order to do so, we created a non-profit that crowdsources extra change from customers by asking them to "round up" their meal or donate and having this pool of crowdsource money subsidize food in low income communities such that it is affordable and a competitive price with fast food restaurants</p>
      </div>
    </div>
    <div class="code-container">
      <img src="public/images/pics/foodcentslogo.png"/>
      <div>
        <h3>Gargle</h3>
        <p>Search for anything! The world is your oyster! This is one of my favorite projects because it gave me the skills and manpower to eventually take over the world. Think of anything.... it's on Gargle.</p>
      </div>
    </div>
  </main>

</body>
</html>
